
.modulo {background: url("../../images/bg_modulo.jpg") repeat-x scroll 0 0 #F4F0EF; border-width:1px; border-style:solid; border-color: #ffffff #d7d6ca #d7d6ca #ffffff;}

#menu-principal li a {}

#conteudo {border-right: 0 none;}
